main{
  width: 100;
  height: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

section{
  width: 90%;
  padding: 20px;  
  display:flex;
  justify-content: center;
  align-items: center;
  align-content:center;
  flex-direction: column;
}

#aboutMe{
  margin: 50px;
  padding: 15px 10px;
  font-size: 1.2rem;
  width: 80%;
  height: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#aboutMe h2{
  margin: 40px auto;
  width: 200px;
  font-weight: bold;
  font-size: 2.5rem;
  text-shadow: 0 0 5px #fff;
}

#aboutMe p{
  margin-bottom: 50px;
  line-height: 1.5;
  font-style: italic;
}

.aboutMe__h3{
  margin: 60px auto;
  font-size: 1.7rem;
  font-weight: lighter;
  text-shadow: 0 0 5px #fff;
}

.aboutMe__ul{
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 2em;
}

.aboutMe__li{
  flex: calc(50% - 2em);
  background-color: var(--colorLi);
  backdrop-filter: blur(10px);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  box-shadow: 0 0 10px lightgreen;
  transform: rotate(1turn);
}

.qualities{
  color: var(--colorHover);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 0 0 5px var(--colorHover);
}

#technologies{
  border: none;
  margin: 100px auto;
  width: 80%;
  height: auto;
  display: grid;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#technologies>span:nth-child(1){
  margin: 20px auto;
  background-color: rgba(11, 50, 68, 0.644);
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  grid-row-end: span 3;
  border-radius: 20px;
  width: 300px;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px #fff;
}

#technologies>span:nth-child(2){
  margin: 20px auto;
  background-color: rgb(216, 63, 36);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#technologies>span:nth-child(3){
  margin: 20px auto;
  background-color: rgb(43, 99, 202);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#technologies>span:nth-child(4){
  margin: 20px auto;
  background-color:rgb(253, 253, 14);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border:none;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#technologies>span:nth-child(5){
  margin: 20px auto;
  background-color:rgb(29, 29, 85);
  color: black;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#contacMe{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
  border-radius: 20px;
}

.contacto{
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 3rem;
}

#contacMe>h2{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0 0 5px #fff;
}

#contacMe>p{
  margin: 30px auto;
  font-size: 1.5rem;
  font-style: italic;
  font-weight:lighter;
  text-shadow: 0 0 5px #fff;
}

.contacto__a{
  background-color: var(--colorNav);
  color: var(--text);
  border: 1px solid lightgreen;
  border-radius: 20px;
  margin: 20px auto;
  padding: 30px;
  font-size: 35px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
}




